@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
body{
    background-color: #EEEEEE;
    margin: 0 auto;
}
.hearder-container{
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;

}

.nav-container{
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 20px 0;
    margin: 25px 40px 0 0;
    color: #0e333d;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.logo img {
    width: 10px;
    margin: 15px 0 0 30px;
    width: 150px;
    display: flex;
}

/**fim da nav**/
.bloco-casa-1 {
   max-width: 1200px;
   margin: 0 auto;
   gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  
}

.img-casa-1 img{
    width: 470px;
    height: 500px;
    margin: 20px 0px 0 0;
    border-radius: 25px;
}

.conteudo-casa-1 {
   padding: 40px 0; 
    


}

.conteudo-casa-1 h1 {
    font-size: 50px;
    background:-webkit-linear-gradient(45deg, #0e333d, #195E70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-weight: 800;
   max-width: 60ch;
    margin-bottom: 20px;
    padding-left: 60px;
   
    

}

.conteudo-casa-1 p {
    font-size: 21px;
    padding-left: 80px;
    
}
.conteiner-botao{
    background: linear-gradient(to right, #6D7F82, #AAB8BB);
    max-width: 80%;
    margin-top: 20px;
    border-radius: 40px;
    margin-left: 60px;
    
  
    
}
.botao-search{
    border:none;
    width: 150px;
    height: 50px;
    background-color: #0e333d;
    border-radius: 40px;
    font-size: 18px;
    color: #ffffff;
    
    
}

/**fim do bloco 1**/
.bloco-casa-2{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:30px;
   
}

.img-casa-2 img{
    width: 550px;
    margin: 0 0 0 0px;
  border-radius: 50px;
}

.seta{
    width: 5px;
    text-align: center;
    display: inline;
    padding: 0px;

}
.conteudo-casa-2 h1 {
   margin-bottom: 20px;
    font-size: 40px;
    background:-webkit-linear-gradient(45deg, #0e333d, #195E70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  
}

.conteudo-casa-2 p {
    font-size: 20px;
    margin-bottom: 20px;

}

.botao-read {
    margin: 0 0 0 0;    background-color: #0e333d;
    color: #ffffff;
    display: inline;
    align-items: start;
    padding: 10px 20px 10px 20px;
    width: 140px;
    height: 50px;
    text-align:center;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}


/**final do bloco 2**/

.artigo-container{
    max-width: 1200px;
    margin: 0 auto;

    margin-top: 60px;
}
.artigo1, .artigo2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 30px;
}
.artigo-h1{
    font-size: 40px;
     background:-webkit-linear-gradient(45deg, #0e333d, #195E70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    
}
.artigo-conteudo{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;

}
.artigo-img-1 img, .artigo-img-2 img{
    /* width: 250px;
    height: 160px;
    border-radius: 20px; */
    max-width: 100%;
    border-radius: 40px;
}

.artigo-conteudo h2{
    font-size: 35px;
    margin: 0 0 0 20px;
    background:-webkit-linear-gradient(45deg, #0e333d, #195E70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-weight: 800;
    margin-bottom: 20px;
  
   
}
.artigo-conteudo p{
    font-size: 16px;
    margin: 7px 0 0 20px;
    line-height: 1.3;
   
}
/*final do artigo do blog*/
.subscribe{
  max-width: 1200px;
    margin: 0 auto;
}
.subscribe-conteudo{
    background-color: #0e333d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 230px;
    color: #ffffff;
    border-radius: 30px;
}
.subscribe-conteudo h2{
    margin: 0 0 0 0;
    font-size: 36px;
    
}
.subscribe-conteudo p{
    width: 500px;
    font-size: 16px;
    margin: 20px 0 0 0;
    text-align: center;
}
.botao-subscribe{
    margin: 25px 0 0 0;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
}
/** final do inscreva-se **/
.footer-container{
     padding: 0 0 10px 0;
    margin: 70px 0 0 0; 
    background-color: #0e333d;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    border-bottom: 1px solid #ffffff;
}

.footer-parte-esquerda{
    display: flex;
  
    flex-direction: column;
}
.footer-parte-esquerda img{
    width: 150px;
}
.footer-parte-esquerda p{
    color: #ffffff;
    width: 150px;
    font-size: 12px;
    margin: 10px 0 0 0;
}
.footer-parte-direita{
   gap: 40px;
    display: flex;
    flex-direction: row;
    
}
    .footer-parte-direita div{
    display: flex;
    flex-direction: column;
}
.footer-parte-direita h2{
    font-size: 18px;
    color: #ffffff;
}
.footer-parte-direita li{
    font-size: 12px;
    margin: 7px 0 0 0;
    color: #ffffff;
    list-style-type: none;
}
.parte-baixo{
    display: grid;
    justify-content: center;
}
.footer-line{
    margin: 60px 0 0 0;
    width: 70vw;
    height: 1px;
    background-color: #ffffff;
}
.footer-direitos{
    text-align: center;
    margin: 10px 0 0 0;
    color: #ffffff;
    font-size: 12px;
}
